/**
 * Calendar
 */
$calendarMin:  3rem;
$calendarMax:  6rem;
$calendarUnit: clamp(#{$calendarMin}, 12vw, #{$calendarMax});

.calendar {
  width: min(100%, #{$calendarMax * 7});
  margin: 3rem auto;
  padding-bottom: 1.5rem;

  &.--editMode {
    background: rgba(128, 255, 255, .3);
  }

  &__mode {
    text-align: right;

    select {
      display: inline-block;
      margin: 0.75rem;
    }
  }

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  &__prev, &__next {
    display: block;
    width: 6rem;
    font-size: 0.875rem;
    text-align: center;

    &.--inactive {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__wrap {
    width: min(100%, #{$calendarMax * 7});
    margin: 0 auto;
    overflow: auto;
  }

  &__view {
    width: calc(#{$calendarUnit} * 7);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;

    tr {
      border-bottom: 1px solid #999999;

      &:first-child {
        border-top: 1px solid #999999;
      }
    }

    th, td {
      width: $calendarUnit;
      height: calc(#{$calendarUnit} * 3 / 4);
      border-right: 1px solid #999999;
      text-align: center;

      &:first-child {
        border-left: 1px solid #999999;
      }
    }
  }

  &__cell {
    font-size: min(3.6vw, 87.5%);
    vertical-align: baseline;

    &.--done {
      opacity: 0.7;
    }
    
    &.--holiday {
      color: red;
    }
    
    &[data-state="0"] {
      background: rgba(255, 128, 128, .5);
    }
  
    &[data-state="1"] {
      background: rgba(255, 255, 128, .5);
    }
  
    &[data-state="2"] {
      background: rgba(128, 255, 128, .5);
    }
  }

  &__value {
    display: block;
    width: 96%;
    margin: 0 auto;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.85);
  }

  &:not(.--startOnMon) {
    th, td {
      &:first-child {
        color: red;
      }
    
      &:last-child {
        color: blue;
      }
    }
  }

  &.--startOnMon {
    th, td {
      &:nth-child(7) {
        color: red;
      }
    
      &:nth-child(6) {
        color: blue;
      }
    }
  }

  &__save {
    display: block;
    width: 9rem;
    height: 3rem;
    margin: 1.5rem auto;
    border: 0;
    border-radius: 6px;
    background-color: #cccccc;
    color: #000000;
    line-height: 3rem;
    text-align: center;
    opacity: 0.7;
    cursor: default;
    transition: opacity 0.25s ease-in-out;

    &:not(.--inactive) {
      opacity: 1;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
