@charset "UTF-8";
/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 599.9px) {
  html {
    font-size: 3.84vw;
  }
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/**
 * Calendar
 */
.calendar {
  width: min(100%, 42rem);
  margin: 3rem auto;
  padding-bottom: 1.5rem;
}
.calendar.--editMode {
  background: rgba(128, 255, 255, 0.3);
}
.calendar__mode {
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  text-align: right;
}
.calendar__mode label {
  font-size: 0.875rem;
}
.calendar__mode input {
  width: 6rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}
.calendar__control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75rem;
}
.calendar__prev, .calendar__next {
  display: block;
  width: 6rem;
  font-size: 0.875rem;
  text-align: center;
}
.calendar__prev.--inactive, .calendar__next.--inactive {
  opacity: 0.3;
  cursor: default;
}
.calendar__wrap {
  width: min(100%, 42rem);
  margin: 0 auto;
  overflow: auto;
}
.calendar__view {
  width: calc(clamp(3rem, 12vw, 6rem) * 7);
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
.calendar__view tr {
  border-bottom: 1px solid #999999;
}
.calendar__view tr:first-child {
  border-top: 1px solid #999999;
}
.calendar__view th, .calendar__view td {
  width: clamp(3rem, 12vw, 6rem);
  border-right: 1px solid #999999;
  text-align: center;
}
.calendar__view th:first-child, .calendar__view td:first-child {
  border-left: 1px solid #999999;
}
.calendar__cell {
  height: calc(clamp(3rem, 12vw, 6rem) * 3 / 4);
  font-size: min(3.6vw, 87.5%);
  vertical-align: baseline;
}
@media (max-width: 599.9px) {
  .calendar__cell {
    height: 10.5svh;
  }
}
.calendar__cell.--done {
  opacity: 0.7;
}
.calendar__cell.--holiday {
  color: red;
}
.calendar__cell[data-state="0"] {
  background: rgba(255, 255, 128, 0.5);
}
.calendar__cell[data-state="1"] {
  background: rgba(128, 255, 128, 0.5);
}
.calendar__value {
  display: block;
  width: 96%;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.85);
}
.calendar:not(.--startOnMon) th:first-child, .calendar:not(.--startOnMon) td:first-child {
  color: red;
}
.calendar:not(.--startOnMon) th:last-child, .calendar:not(.--startOnMon) td:last-child {
  color: blue;
}
.calendar.--startOnMon th:nth-child(7), .calendar.--startOnMon td:nth-child(7) {
  color: red;
}
.calendar.--startOnMon th:nth-child(6), .calendar.--startOnMon td:nth-child(6) {
  color: blue;
}
.calendar__save {
  display: block;
  width: 9rem;
  height: 3rem;
  margin: 1.5rem auto;
  border: 0;
  border-radius: 6px;
  background-color: #cccccc;
  color: #000000;
  line-height: 3rem;
  text-align: center;
  opacity: 0.7;
  cursor: default;
  transition: opacity 0.25s ease-in-out;
}
.calendar__save:not(.--inactive) {
  opacity: 1;
  cursor: pointer;
}
.calendar__save:not(.--inactive):hover {
  opacity: 0.7;
}
.calendar__description {
  padding: 2.25rem;
  font-size: min(3.6vw, 16px);
  text-align: justify;
}